* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow: hidden;
}
*::before,*::after{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
ol,ul{
    list-style: none;
}